@import "tailwindcss";

@layer utilities {
  @keyframes scroll-x {
    0% {
    transform: translateX(10%);
    }
    100% {
      transform: translateX(-10%);
    }
  }
  .animate-scroll-x {
    animation: scroll-x 3s linear infinite normal;
  }
}
