body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.container {
  display: flex;
  margin-left: 244px; /* Add margin to prevent user-content from moving under fixed menu */
}
.menu {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid lightgray;
  width: 244px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: white;
  z-index: 10;
}
.logo {
  padding: 32px 12px;
}
.headings {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  gap: 16px;
  font-size: 16px;
  padding: 16px 12px;
}
.headings:hover {
  background-color: lightgray;
  cursor: pointer;
  border-radius: 6px;
}
.user-content {
  width: 850px;
  padding: 20px;
  /* flex-grow: 1; */
  margin: 15px auto;
  height: fit-content;
}
.content {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  align-items: center;
}
.user-logo {
  /* padding: 5px;
  border: 2px solid lightgray; */
  border-radius: 100px;
  object-fit: cover;
}
.user-img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
}
.user-details {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.user-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.user-name {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.user-info {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.user-data {
  flex: 0;
}
.follow-btn {
  color: white;
  background-color: rgb(0, 149, 246);
  border: none;
  padding: 7px 19px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
}
.message-btn {
  color: black;
  background-color: rgb(239, 239, 239);
  border: none;
  padding: 7px 19px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
}
.more-users {
  color: black;
  background-color: rgb(239, 239, 239);
  border: none;
  padding: 7px 10px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
}
.google {
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.google-name {
  font-weight: 600;
  font-size: 15px;
}
.google-threads {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  background-color: #e9e9e9;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 25px;
  margin: 5px 0px;
}
.grayshade {
  font-size: 14px;
  color: gray;
  font-weight: 400;
}
.info-grayshade {
  font-size: 14px;
  color: gray;
}
.followed {
  margin: 20px 0;
}
.linkstyle {
  display: flex;
  align-items: center;
  color: blue;
  text-decoration: none;
  gap: 5px;
  cursor: pointer;
  font-weight: 500;
}
.stories {
  text-align: center;
  width: fit-content;
  margin: 10px 0;
}
.story {
  border: 1px solid lightgray;
  border-radius: 100px;
  padding: 4px;
  width: fit-content;
  margin-bottom: 10px;
}
.story-img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.subcontents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px;
  border-top: 1px solid lightgray;
  font-size: 16px;
}
.posts,
.reels,
.tagged {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.posts:hover,
.reels:hover,
.tagged:hover {
  padding-top: 10px;
  border-top: 1px solid gray;
}
.user-posts {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.post-img {
  height: 400px;
  width: 250px;
  object-fit: cover;
  flex-grow: 1;
}
